doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    meta(name='description', content='')
    |     
    meta(name='author', content='')
    |     
    title Fluxx Capacitor
    // Bootstrap Core CSS
    // Custom CSS
    link(href='stylesheets/round-about.css', rel='stylesheet')
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
  body
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    // Navigation
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Navigate
            |                     
            span.icon-bar
            |                     
            span.icon-bar
            |                     
            span.icon-bar
          |                 
          a.navbar-brand(href='/') Fluxx
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/') Dashboard
        // /.navbar-collapse
      // /.container
    // Page Content
    .container
      h2.page-header The League of Extraordinary Patients
      // Team Members Row
      br
      |         
      br
      |         
      .row
        .col-lg-12
        |             
        .col-lg-4.col-sm-6.text-center
          img.img-circle.img-responsive.img-center(src='images/7.jpg', alt='')
          |                 
          h3
            a(href='/tasks')  Cassandra Jones 
          |                     
          h5 Chronic Lung Disease
          |                 
          p Ward 9. Bed 17.
        |             
        .col-lg-4.col-sm-6.text-center
          img.img-circle.img-responsive.img-center(src='images/1.jpg', alt='')
          |                 
          h3 Kiera Bryson
          |                     
          h5 Ewings Sarcoma
          |                 
          p Ward 15. Bed 7.
        |             
        .col-lg-4.col-sm-6.text-center
          img.img-circle.img-responsive.img-center(src='images/3.jpg', alt='')
          |                 
          h3 Joaquin Sparrow 
          |                     
          h5 Cystic Fibrosis
          |             
          |                 
          p Ward 13. Bed 3.
      |             
      br
      |             
      br
      |             
      .row
        .col-lg-4.col-sm-6.text-center
          img.img-circle.img-responsive.img-center(src='images/2.jpg', alt='')
          |                 
          h3 Alexis Nesbitt 
          |                     
          h5 Amyotrophic Lateral Sclerosis
          |                 
          p Ward 9. Bed 12.
        |             
        .col-lg-4.col-sm-6.text-center
          img.img-circle.img-responsive.img-center(src='images/4.jpg', alt='')
          |                 
          h3 James O&apos;Firth 
          |                     
          h5 Cardiomyopathy
          |                 
          p Ward 13. Bed 5.
        |             
        .col-lg-4.col-sm-6.text-center
          img.img-circle.img-responsive.img-center(src='images/5.jpg', alt='')
          |                 
          h3 Rhys Frienze 
          |                     
          h5 Renal Failure
          |                 
          p Ward 7. Bed 3.
      |         
      br
      |         
      br
      // Footer
      footer
        hr
        |             
        .row
          .col-lg-12
            p Pew pew.
          // /.col-lg-12
        // /.row